/* Download required fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Tajawal:wght@400;700&display=swap');

body {
    font-family: 'Tajawal', 'Cairo', sans-serif;
}

/* Just a basic target for links inside the menu */
#mainNavbar ul li a
{
    padding: 8px;
    color: #3f4045;
}

/* The active link is a bit grayer */
#mainNavbar ul li a.active
{
    color: #7a8090;
}

/* Simple hover effect */
#mainNavbar ul li a:hover
{
    color: #0a53be;
}

#backToTopButton
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    visibility: hidden;
    border: none;
    opacity: 0;

    /* Human touch: Give it your signature dark gray color and a nice size */
    background-color: lightgray;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Makes the mouse cursor turn into a pointer finger on hover */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3); /* Adds a tiny shadow so it pops off the page */
}

#backToTopButton.isVisible
{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease, visibility 0.5s;
}
